{% extends "pages/base.html" %}

{% block content %}

<style>
.btn btn-info{
    background-color: #008CBA;
}
</style>

<!-- home -->
<br>
<div class="row">
    <div class="col">
        <div class="card card-body">
            <h1>Wizard</h1>
            <br>
            <h5>Procedura guidata per trovare tutti gli attack pattern sulla base di attacchi di alto livello denominati dal Capec
            "Meta".
            L'utente dovrà selezionare le minacce di alto livello, per poi ottenere informazioni più dettagliate che coinvolgono
            specifiche tecnologie.</h5>
        </div>
    </div>
    
</div>
<br>
    <br>
<br>
<div class="card-group">

      <!-- button Meta -->
      <form method="get">
        <button style= "padding-left: 550px" class="btn btn-default">
            <a href="{% url 'MetaSelection' %}" class="btn btn-primary" role="button">Inizia la procedura guidata</a>
        </button>
      </form>
      
    </div>
  </div>
  

  
</div>
<br>    

    

    
<!--prova-->


{% endblock %}